name: "Clean Packages"

on:
  workflow_call:
  
  workflow_dispatch:
  
jobs:
  clean:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Clean Old Deveel.Webhooks Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.Sender Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.Sender'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.Sender.NewtonsoftJson Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.Senser.NewtonsoftJson'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.Service Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.Service'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.MongoDb Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.MongoDb'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.Receiver.AspNetCore Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.Receiver.AspNetCore'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.Receiver.AspNetCore.NewtonsoftJson Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.Receiver.AspNetCore.NewtonsoftJson'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"

      - name: "Clean Old Deveel.Webhooks.Model Nuget Packages"
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'Deveel.Webhooks.Model'
          package-type: 'nuget'
          min-versions-to-keep: 15
          delete-only-pre-release-versions: "true"