name: Webhooks PR Build

permissions:
  contents: read
  packages: read

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: "Build and Test"
    strategy:
      fail-fast: true
      matrix:
        dotnet-verion: [ '6.0.x', '7.0.x', '8.0.x' ]
        os: [ ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
          
    - name: Set the TFM for .NET 6.0
      if: ${{ matrix.dotnet-version }} == '6.0.x'
      run: echo "DOTNET_TFM=net6.0" >> $GITHUB_ENV

    - name: Set the TFM for .NET 7.0
      if: ${{ matrix.dotnet-version }} == '7.0.x'
      run: echo "DOTNET_TFM=net7.0" >> $GITHUB_ENV

    - name: Set the TFM for .NET 8.0
      if: ${{ matrix.dotnet-version }} == '8.0.x'
      run: echo "DOTNET_TFM=net8.0" >> $GITHUB_ENV

    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore -c Release -f ${{ env.DOTNET_TFM }}
    
    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release -f ${{ env.DOTNET_TFM }}