name: "Webhooks Release"

on:
  release:
    types: [published]

jobs:
  build:
    name: "Build and Test"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
  
    - name: Set VERSION variable from tag
      run: |
        TAG=${{ github.event.release.tag_name }}
        echo "VERSION=${TAG#v}" >> $GITHUB_ENV

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
            6.0.x
            7.0.x
    
    - name: Add Deveel GitHub NuGet Source
      run: dotnet nuget add source "https://nuget.pkg.github.com/deveel/index.json" -n "Deveel GitHub" -u ${{ secrets.DEVEEL_NUGET_USER }} -p ${{ secrets.DEVEEL_NUGET_TOKEN }} --store-password-in-clear-text
      
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore -c Release /p:Version=$VERSION
    
    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[*.XUnit]*"
      
    - name: Collect to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.OCM_CODECOV_TOKEN }}

  pack:
    needs: build

    runs-on: ubuntu-latest
    name: "Pack"
    steps:
    - name: Pack
      run: dotnet pack --configuration Release --no-restore --no-build --include-symbols -p:PackageVersion=$VERSION --output ./nuget

    - name: Push Packages to GitHub NuGet
      run: dotnet nuget push ./nuget/**/*.nupkg --skip-duplicate --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
